<%= form_for([erp_diseases, :backend, disease], html: {multipart: true}) do |f| %>
    <div class="row">
        <div class="col-md-2">
            <%= erp_form_control('image', {
                img_src: disease.image.system,
                name: 'disease[image]',
                width: 150,
                height: 150
            }) %>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <%= erp_form_control("text", {
                        name: 'disease[name]',
                        value: disease.name,
                        label: t('.name'),
                        placeholder: t('.placeholder_disease_name')
                    }) %>
                </div>
                <div class="col-md-6">
                    <%= erp_form_control("dataselect", {
                        name: 'disease[category_id]',
                        value: disease.category_id,
                        text: disease.category_name,
                        placeholder: t('.choose_category'),
                        label: t('.category'),
                        url: erp_diseases.dataselect_backend_categories_path(format: 'json'),
                        create: {
                            url: erp_diseases.new_backend_category_path,
                            title: t('.create_category'),
                            container_selector: '.new_category',
                            input_selector: 'input[name="category[name]"]'
                        },
                        edit: {
                            url: erp_diseases.edit_backend_category_path(id: ':value'),
                            title: t('.edit_category'),
                            container_selector: '.edit_category',
                        },
                        required: true,
                        errors: disease.errors.full_messages_for(:category_id)
                    }) %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <%= erp_form_control("textarea", {
                        name: 'disease[meta_keywords]',
                        value: disease.meta_keywords,
                        placeholder: t('.placeholder_meta_keywords'),
                        label: t('.meta_keywords')
                    }) %>
                </div>
                <div class="col-md-6">
                    <%= erp_form_control("textarea", {
                        name: 'disease[meta_description]',
                        value: disease.meta_description,
                        placeholder: t('.placeholder_meta_description'),
                        label: t('.meta_description')
                    }) %>
                </div>
            </div>
        </div>
    </div>
    
    <%= erp_form_control("editor", {
        name: 'disease[description]',
        value: disease.description,
        label: t('.description')
    }) %>
    
    <%= erp_form_control("editor", {
        name: 'disease[definition]',
        value: disease.definition,
        label: t('.definition')
    }) %>
    
    <%= erp_form_control("editor", {
        name: 'disease[reason]',
        value: disease.reason,
        label: t('.reason')
    }) %>
    
    <%= erp_form_control("editor", {
        name: 'disease[symptoms]',
        value: disease.symptoms,
        label: t('.symptoms')
    }) %>
    
    <%= erp_form_control("editor", {
        name: 'disease[treatment]',
        value: disease.treatment,
        label: t('.treatment')
    }) %>

    <hr>
    <h3>DANH SÁCH SẢN PHẨM (THUỐC) LIÊN QUAN</h3>
    <div class="addableform-table">
        <%= erp_form_control("addableform", {
            type: 'table',
            add_button: 'Thêm vào danh sách',
            partial: 'erp/diseases/backend/diseases_products/diseases_product_line_form',
            partial_url: erp_diseases.diseases_product_line_form_backend_diseases_products_path,
            items: @disease.diseases_products,
            item: :diseases_product,
            add_control_selector: "input[name='product_id']",
            add_control: erp_form_control("dataselect", {
                name: 'product_id',
                value: 1,
                placeholder: 'Chọn sản phẩm liên quan',
                label: 'Sản phẩm liên quan',
                help: 'Lựa chọn sản phẩm và thêm vào danh sách',
                url: erp_products.dataselect_backend_products_path(format: 'json'),
            }),
            thead: "<th>#{'Tên sản phẩm'}</th>
                    <th>#{'Giá bán áp dụng'}</th>
                    <th>#{'Tùy chọn'}</th>"
        }) %>
        
        <!-- <hr />
        <table class="table">
            <tr>
                <td width="90%" class="text-right text-semibold">Tổng số lượng:</td>
                <td class="text-right">
                    <h4 class="no-margin">
                        <span class="part_quantity text-bold text-primary"></span>
                    </h4>
                </td>
            </tr>
        </table> -->
    </div>

    <hr>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_diseases.backend_diseases_path
    }) %>    
<% end %>